body{
    margin: 0px;
}
a{
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    ;
}
.navbar_icon{
    position: relative;
    color: white;
    font-size: 20px;
}
#너구리{
    text-align: center;
    color:darkgray;
    font-size:30px;
    font-family: fantasy;
    
   
}
.ko{
   background-size: cover;
   height: 250px;
    
}
.bar {
    display: flex;
    align-items: center;
    color:black;
    background-color: darkturquoise;
    justify-content: space-between;
    padding: 3px;
    margin: -1px;
}
.bar a1{
    padding: 15px;
}


    
   

