#header{
  list-style: none;
  justify-content: space-between;
  text-align: center;
  border-bottom:solid gray;
  background-color: white;
}
.menu1{
  float: right;
  text-align: center;
  display: flex;
  padding: 5px;
}
.menu2{
  float: left;
  text-align: center;
  display: flex;
  padding: 5px;
}
.mid{
  justify-content: space-between;
  text-align:center;
  background-color:lightpink;
  
  
}