body{
    margin: 0px;
}
a{
    color: black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
<<<<<<< HEAD
    ;
=======
    list-style: none;
>>>>>>> 64d09ffe2c2f5042fcabbdb19fb4d1d2853e64e9
}
.navbar_icon{
    position: relative;
    color:black;
    font-size: 20px;
}
#너구리{
    text-align: center;
    color:black;
    font-size:30px;
    font-family:monospace;
    font-style:normal;
}
.ko{
   background-size: cover;
   height: 300px;
   width: 800px;
}
.bar {
    display: flex;
    align-items: center;
    color:black;
    background-color:burlywood;
    justify-content: space-between;
    padding: 5px;
    margin: -1px;
}
.bar a1{
    padding: 15px;
}

#MENULIST ul {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555555;
    list-style: none;
    justify-content: space-between;
    padding: 40px;
    
}


   

